In [1]:
from ipyflex import FlexLayout
import ipywidgets as ipw
import yfinance as yf
import ipyvuetify as v
from widgets import new_factory, financial_info_factory, price_widget_factory
from ticker import TickerData

In [2]:
ticker = TickerData("NVDA")

In [3]:
news = new_factory(ticker.news)
info = financial_info_factory(ticker.financial_info)
test = v.Row(children=[
    v.Col(cols=12, md=6, children=[
        v.Card(outlined=True, style_='height: 400px', children=[f'Element {i}'])
    ]) for i in range (1,3)
])
price = price_widget_factory(ticker.price(), "NVDA")

In [4]:
widgets = {'news':news, 'info': info, 'price': price }

In [5]:
w = FlexLayout( 
    widgets,
            style={'height':'900px'}, 
            header={'title': 'Demo',
                    'style':{'background': 'green'}}
           )

In [6]:
w

FlexLayout(children={'news': Html(children=[Card(children=[CardTitle(children=['Nvidia Is Pushing the Limits i…

In [7]:
tk = yf.Ticker('NVDA')

In [8]:
a = tk.history('3mo')

In [9]:
a

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-10-15,218.073306,219.283149,216.593476,218.593231,22679500,0.0,0
2021-10-18,217.463378,222.882713,216.413504,222.192795,18949400,0.0,0
2021-10-19,222.732729,223.762602,220.343022,222.872711,16147300,0.0,0
2021-10-20,223.022702,224.302544,219.793102,221.002945,14627600,0.0,0
2021-10-21,220.942944,227.082191,220.802961,226.892212,18759000,0.0,0
...,...,...,...,...,...,...,...
2022-01-10,265.809998,274.690002,256.440002,274.000000,59468100,0.0,0
2022-01-11,273.230011,280.649994,268.390015,278.170013,40408900,0.0,0
2022-01-12,280.670013,285.950012,276.079987,279.989990,38341300,0.0,0
2022-01-13,283.790009,284.799988,264.980011,265.750000,54017100,0.0,0
2022-01-14,263.000000,271.970001,262.100006,269.420013,39522800,0.0,0

In [10]:
# import pandas as pd
# df = pd.read_csv(
#     "https://raw.githubusercontent.com/plotly/datasets/master/finance-charts-apple.csv"
# )